html,
body {
    padding: 0;
    margin: 0;
    background-color: #676767 !important;
}

/*#connection-status {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 0;
    margin: 20px;
    display: block;
}

#connection-status.connected {
    background-color: green;
}

#connection-status.disconnected {
    background-color: red;
}*/

#app{
    /*border: 1px solid red;*/
    width: 1000px;
    height: 800px;
    margin: auto;
    padding: 0px;
}

#gameContainer{
    /*border: 1px solid orange;*/
    margin-top: 50px;
    height: 800px;
    width: 1000px;
}

#gameHead {
    display: block;
    /*border: 1px solid #ccc;*/
    height: 40px;
    width: 1000px;
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

.glyphicon{
    font-size: 18px;
    margin: 0px 8px 0px 8px;

}

#headPlayerLeft{
    /*border: 1px solid green;*/
    float: left;
    width: 300px;
    height: 100%;
    margin-left: 10px;
}


#headPlayerRight{
    /*border: 1px solid green;*/
    float: right;
    padding-top: 14px;
    width: 400px;
    height: 100%;
}


.headPlayerType {
    float: left;
    /*border: 1px solid red;*/
    transform: rotate(90deg);
    /*margin: 5px;*/
}

#headPlayerName {
    float: left;
    /*border: 1px solid red;*/
    /*font-size: 18px;*/
    /*letter-spacing: 1px;*/
    margin: 14px 0 0 10px;
}

#headPlayerDeaths {
    float: right;
    /*border: 1px solid red;*/
    margin: 0px;
    width: 80px;
}

#headPlayerKills {
    float: right;
    /*border: 1px solid red;*/
    margin: 0px;
    width: 80px;
}

#headPlayerTrophies {
    float: right;
    /*border: 1px solid red;*/
    margin: 0px;
    width: 80px;
}


/*#stats {
    border: 1px solid #ccc;
    display: block;
    width: 240px;
    height: 620px;
    margin-right: 6px;
    float: left;
}*/

#devstat{
    position: fixed;
    bottom: 0;
}

#gameboard {
    border: 1px dashed #333;
    border-radius: 6px;
    height: 750px;
    width: 1000px;
    float: left;
    background-color: #676767;
}

.vehicle {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
    
    transition-property: top left transform;
    transition-timing-function: linear;
    transition-duration: .1s;
}

.typeA2 {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: -144px -174px;
    width: 38px;
    height: 58px;
    background-size: 677px 550px;
}

.typeA3 {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: -89px -174px;
    width: 38px;
    height: 58px;
    background-size: 677px 550px;
}

.typeA1 {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-position: -199px -174px;
    width: 38px;
    height: 58px;
    background-size: 677px 550px;
}

.typeA0{
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-size: 677px 550px;
    width: 38px;
    height: 58px;
    background-position: -27px -342px;
}


.radio-inline{
    margin: 0 40px;
}